@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-header: #013C58;
  --color-header: #A8E8F9;
  --bg-body2: #A8E8F9;
  --bg-body: #00537A;
  --color-body: #F5A201;
}

@layer components {
    .body { @apply h-full m-auto pt-[13rem] } 
    .section { @apply w-[90vw] xl:w-[75vw] m-auto}
    .title_section { @apply py-8 font-light text-3xl text-center }
    .description_section { @apply font-light }
  }

